@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}


html {
	/*--col-a: rgb(67, 143, 36);*/ /* #438f24  */
	--col-b: rgb(255, 255, 247); /* #fffff7  */
	--col-c: rgb(177, 213, 255); /* #b1d5ff  */
	--col-d: rgb(0, 0, 0); /* #000000  */
	/* 184 187 205 */


	/* REMOVE THESE? Or get a default colour... */
	/* --grad-light:rgb(90, 154, 232);
	--grad-dark:rgb(21, 101, 162); */
}
.day {
	--grad-light:rgb(90, 154, 232);
	--grad-dark:rgb(21, 101, 162);
}
.day-precip {
	--grad-light: rgb(53, 84, 131);
	--grad-dark: rgb(51, 82, 120);
}
.night {
	--grad-light: rgb(63, 113, 205);
	--grad-dark: rgb(28, 19, 40);
}
.night-precip {
	--grad-light: rgb(45, 58, 74);
	--grad-dark: rgb(29, 38, 51);
}

body {

	padding-top: 1rem;
	background-color: var(--grad-light);
	background-image:

repeating-linear-gradient(
	45deg,
	rgba(255,255,255,0.03),
	rgba(255,255,255,0.03) 1px,
	transparent 2px,
	transparent 4px
), 
		/* repeating-linear-gradient(
			135deg,
			rgba(255,255,255,0.03),
			rgba(255,255,255,0.03) 1px,
			transparent 2px,
			transparent 4px
		), */
		/* url('../img/bg-pattern.svg'), */
		linear-gradient(var(--grad-light), var(--grad-dark));
	background-attachment: fixed;
	/* background-size: 1px;
	background-repeat: repeat; */
	color: var(--col-b);
	/* font: normal 400 1rem/1 'HelveticaNeue'; */
	font: normal 400 1rem/1 Roboto, helvetica, arial, sans-serif;
	text-align: center;
	margin: 0;
}

/* Shared classes? unstyle list? */
.unstyle-list, ul {
	list-style: none;
	padding-left: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	/* margin: 1rem 0; */
	padding: 0 1rem;
}

.logo {
	font: 700 2rem helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: -0.1rem;
	margin-right: 1rem;
}

.units {
	display: flex;
	place-content: flex-end;
	/* .unstyle-list */
	margin: 0;
}

.container {
	padding: 0 1rem;
}

.current::after {
	content: "";
	display: block;
	background-image: url('../img/squiggly-line.svg');
	background-position: center center;
	background-repeat: no-repeat;
	height: 1rem;
	/* width: 200px; */
	margin: 2rem 0;
	/* text-align: center;
	text-decoration-line: underline;
	text-decoration-style: wavy; */
}


.btn {
	background-color: transparent;
	color: var(--col-b);
	text-align: center;
	line-height: 1;
	padding: 0.75rem 1rem;
	border: 3px solid transparent; /* Must start with transparent as not to shift the layout */
	border-radius: 0.25rem;
	
	font-size: 1rem;
	text-transform: capitalize;
}

/* Selected, or "shown"?? */

.btn:hover, .btn:focus {
	/* background-color: var(--col-b) ; */
	background-color: rgba(255,255,255,0.1);
	/* color: var(--col-d); */
}
.btn:focus {
	border: 3px solid var(--col-c);
	outline: none;
}
.btn.active {
	background-color: transparent;
	border-color: var(--col-b);
	font-weight: 700;
}


h1 {
	font-size: 1rem;
}
.condition {
	margin: 1rem auto;
	max-width: 20rem;
}
.weather {
	font-size: 1.25rem;
	font-weight: 400;
}
.city {
	font-weight: 700;
}
.temp {
	font-size: 2.75rem;
	font-weight: 700;
	margin: 1rem 0;
	display: block;
}
.unit {
	font-size: 2rem;
}
.range {
	font-size: 2rem;
	margin: 1rem 0;
}
.low {
	color: var(--col-c);
}


.forecast-range {
	display: flex;
	justify-content: space-around;
	/* justify-content: space-between; */
}

.forecast {
  background-color: rgba(0,0,0,0.1);
	border-radius: 0.5rem;
	/* border-spacing: 1rem; */
	border-spacing: 0;
  margin: 1rem 0;
	width: 100%;
	padding: 1rem;
	/* table-layout: fixed; */
}
.forecast tbody {
	display: none;
	font-size: 1.25rem;
}
.forecast tbody.active {
	/* Or use "Hidden" instead? */
	/* Good use of "inspect" here */
	display: table-row-group;
}
.forecast tbody tr:hover {
	background-color: rgba(0,0,0,0.1);
	
}
.forecast th {
	font-weight: 400;
	color: var(--col-c);
	line-height: 2;
	width: 20%;
}
.forecast th:nth-child(1), .forecast td:nth-child(1) {
	/* width: 8rem; */
	/* text-align: left; */
	/* width: 6em; */
	width: 30%;
	/* background-color: red; */
	/* background-color: rgba(0,0,0,0.1); */
}
/* .forecast th:nth-child(2) {
	width: 30%;
}
.forecast th:nth-child(3) {
	width: 20%;
}
.forecast th:nth-child(4) {
	width: 20%;	
} */
.forecast td:nth-child(4) {
	font-size: 1.75rem;
}


/* .forecast td { background-color: red; } */
.forecast-time {
	font-weight: 700;
	text-transform: uppercase;
}
.forecast-time small {
	font-weight: 400;
}
.forecast-temp {
	font-size: 1.5rem;
	font-weight: 700;
}
.icon-xs {
	height: 3rem;
}


.footer {
	color: var(--col-c);
	background-color: rgba(0,0,0,0.1);
	padding: 1rem 0 2rem 0;
	text-align: center;
	line-height: 1.5;
	margin-top: 2rem;
}
.footer * {
	margin: 0;
}



/* @media screen and (min-width: 640px) { */
@media screen and (min-width: 50rem) {

	html {
		height: 100%;
	}
	body {
		padding-bottom: 4rem;
		position: relative;
		height: 100%;
	}

	.container {
		display: flex;
		max-width: 70rem;
		margin: 0 auto;
	}
	.header {
		max-width: 70rem;
		/* margin: 1rem auto; */
		margin: 0 auto;
	}
	.current {
		flex-grow: 1;
		margin-right: 2rem;
	}
	.condition {
		max-width: 100%;
	}
	.forecast {
		min-width: 25rem;
	}
	.footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 1rem 0;
	}

	.footer .container {
		max-width: 70rem;
		display: flex;
		justify-content: space-between;
		line-height: 1;
	}
} 
